html{
	font-size: 10px;
}


h1, h4,
#prev,
#next,
#user-input{
	font-family: 'Sedgwick Ave Display', cursive;;
	text-align: center;
	letter-spacing: -1px;
}

h1{
	font-size: 8rem;
	font-weight: 100;
	margin: 2rem 0;
}

h4,
#prev,
#next{
	display: inline-flex;
	font-size: 3rem;
	font-weight: 100;
}

#current-date:hover{
	cursor: pointer;
}

#user-input{
	display: inline-flex;
	font-size: 1.9rem;
	margin-left: 50px;
	color: white;
}

#prev{
	margin-right: 10px;
}

#next{
	margin-left: 10px;
}

#sub-title{
	text-align: center;
	margin-bottom: 2rem;
}

#prev button,
#next button{
	color: white;
	border: 1px solid;
	border-radius: 50%;
}

.card{
	text-align: center;
	margin-bottom: 5px;
}

.card-body .btn{
	width: 100%;
}

img{
	width: 360px;
	height: 140px;
}

.google-blue{
	background-color: #4285f4;
}

.google-green{
	background-color: #34a853;
}

.google-yellow{
	background-color: #fbbc05;
}

.google-red{
	background-color: #ea4335;
}

span.google-blue{
	background-color: white;
	color: #4285f4;
}

span.google-green{
	background-color: white;
	color: #34a853;
}

span.google-yellow{
	background-color: white;
	color: #fbbc05;
}

span.google-red{
	background-color: white;
	color: #ea4335;
}

.hide{
	display: none;
}






